a, abbr, acronym, address, applet, article, aside, audio, big, blockquote, body, canvas, caption, cite, code, dd, del, details, dfn, div, dl, dt, em, embed, fieldset, figcaption, figure, footer, form, h1, h2, h3, h4, h5, h6, header, hgroup, html, iframe, img, ins, kbd, label, legend, li, mark, menu, nav, object, ol, output, p, pre, q, ruby, s, samp, section, small, span, strike, strong, sub, summary, sup, table, tbody, td, tfoot, th, thead, time, tr, tt, u, ul, var, video {
	border: 0;
	font: inherit;
	margin: 0;
	padding: 0;
	vertical-align: baseline
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
	display: block
}

img {
	height: auto;
	max-width: 100%
}

a {
	text-decoration: none
}

ol, ul {
	list-style: none
}

blockquote, q {
	quotes: none
}

table {
	border-collapse: collapse;
	border-spacing: 0
}

:focus {
	outline: 0
}

::-webkit-input-placeholder {
	color: #666;
	opacity: 1
}

:-moz-placeholder {
	color: #666;
	opacity: 1
}

::-moz-placeholder {
	color: #666;
	opacity: 1
}

:-ms-input-placeholder {
	color: #666;
	opacity: 1
}

body input:focus:required:invalid, body input:required:valid, body textarea:focus:required:invalid, body textarea:required:valid {
	color: #666
}

body {
	font-size: 16px;
	min-width: 320px;
	min-height: 100%;
	position: relative;
	line-height: 1.6;
	font-family: sans-serif;
	overflow-x: hidden;
	padding-bottom: 6rem
}

html {
	height: 100%;
	box-sizing: border-box
}

*, :after, :before {
	-webkit-box-sizing: inherit;
	box-sizing: inherit
}